.author-post {
  align-items: center;
  display: flex;
  border-bottom: 1px solid $default-border-color;
  padding: $spacing-small-content 0;

  .avatar {
    border-radius: 100%;
    margin-right: 25px;
    border: 2px dotted $default-border-color;
    padding: 5px;
  }

  .author-title {
    margin-bottom: 0;
  }
}